<!DOCTYPE html>
<html lang="en-US" ng-app="WhichJSFramework">
<head>
	<title>Which JS Framework</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script type="text/javascript">
        var matrixCellsArray = [{
            text: 'Interface Elements',
            threeTilesPerLine: true,
            categories: {
                'basic.widgets': {
                    title: 'Basic Widgets',
                    text: 'buttons, text & number fields...'
                },
                'compound.widgets': {
                    title: 'Compound Widgets',
                    text: 'trees, grids, calendar...'
                },
                'visualizations': {
                    title: 'Visualizations',
                    text: 'charts, infographics'
                },
                'containers': {
                    title: 'Containers',
                    text: 'cards, tab panels, windows...'
                },
                'themes': {
                    title: 'Themes',
                    text: 'Computed Styles'
                },
                'styles': {
                    title: 'Styles'
                }
            }
        },{
            text: 'View System',
            categories: {
                'layouts': {
                    title: 'Layout System',
                    text: 'absolute, flexible'
                },
                'interactions': {
                    title: 'Interactions',
                    text: 'gestures, drag & drop'
                },
                'drawing': {
                    title: 'Drawing',
                    text: 'vector, bitmap'
                },
                'dom': {
                    title: 'DOM Manipulation'
                },
                'templating': {
                    title: 'Templating',
                    text: 'iterations, conditionals'
                },
                'visual.effects': {
                    title: 'Visual Effects',
                    text: 'animations, filters...'
                },
                'localization': {
                    title: 'Localization',
                    text: 'RTL, locale libraries'
                },
                'accessibility': {
                    title: 'Accessibility',
                    text: 'focus manager, ARIA'
                }
            }
        },{
            text: 'Logic & Data',
            categories: {
                'routes': {
                    title: 'State Manager',
                    text: 'history, undo, routes...'
                },
                'data.binding': {
                    title: 'Data Binding',
                    text: '1-way, 2-way'
                },
                'modularity': {
                    title: 'Modularity',
                    text: 'MVC, MVVM'
                },
                'events': {
                    title: 'Event System',
                    text: 'views, models, generic...'
                },
                'infinite.scroll': {
                    title: 'Infinite Scrolling'
                },
                'stores': {
                    title: 'Datal Models & Stores',
                    text: ' group, sort, validate'
                },
                'persistence': {
                    title: 'Persistent Data',
                    text: 'web storage, cache'
                },
                'multimedia': {
                    title: 'Multimedia',
                    text: '3D, audio, video'
                }
            }
        },{
            text: 'Server I/O',
            categories: {
                'xhr': {
                    title: 'Server Calls',
                    text: 'async, conversion'
                },
                'rpc': {
                    title: 'Server Method Invocation'
                },
                'bidata': {
                    title: '2-Way Data',
                },
                'push.notifications': {
                    title: 'Server Notifications'
                }
            }
        },{
            text: 'Enterprise',
            categories: {
                'qa': {
                    title: 'Testing',
                    text: 'dev, qa, browser farms'
                },
                'ci': {
                    title: 'Build & CI Tools',
                    text: 'minification, dev mode'
                },
                'code.sharing': {
                    title: 'Code Sharing',
                    text: 'workspace, packages'
                },
                'dev': {
                    title: 'Dev Productivity',
                    text: 'watches, IDEs'
                },
                'support': {
                    title: 'Pro Support'
                },
                'services': {
                    title: 'Pro Services'
                },
                'corp': {
                    title: 'Corporate Backing',
                    text: 'monetized product'
                },
                'open.source': {
                    title: 'Open Source'
                }
            }
        }];
        
        var frameworksArray = [{
            name: 'Pre-HTML5',
            changeCells: {
                'basic.widgets': { support: 'partial' },
                'styles': { support: 'full' },
                'layouts': { support: 'partial'}
            }
        },{
            name: 'HTML5',
            changeCells: {
                'basic.widgets': {
                    support: 'full',
                    title: '',
                    text: 'Range, Color Picker, Date/Time, Progress, Telephone...'
                },
                'styles': {
                    support: 'full',
                    title: 'Gradients, Border Radius'
                },
                'layouts': {
                    support: 'full',
                    title: 'Flexbox, Multicolumn',
                    text: ''
                },
                'interactions': {
                    support: 'partial',
                    title: 'Drag & Drop',
                    text: ''
                },
                'drawing': {
                    support: 'full',
                    title: 'SVG, Canvas',
                    text: ''
                },
                'visual.effects': {
                    support: 'full',
                    title: 'CSS Animations & Filters',
                    text: ''
                },
                'accessibility': {
                    support: 'full',
                    title: 'WAI-ARIA',
                    text: ''
                },
                'routes': {
                    support: 'full',
                    title: 'History Push State',
                    text: ''
                },
                'persistence': {
                    support: 'full',
                    title: '',
                    text: 'Local Storage, Indexed DB, App-cache'
                },
                'multimedia': {
                    support: 'full',
                    title: '',
                    text: 'Video, Audio, WebGL'
                }
            }
        },{
            name: 'Bootstrap',
            changeCells: {
                'basic.widgets': { support: 'full' },
                'containers': { support: 'full' },
                'themes': { support: 'full' },
                'styles': { support: 'full' },
                'layouts': { support: 'partial', text: 'responsive grid' },
                'visual.effects': { support: 'partial' },
                'open.source': { support: 'full' }
            }
        },{
            name: 'AngularJS',
            changeCells: {
                'dom': { support: 'full' },
                'templating': { support: 'full' },
                'routes': { support: 'partial', text: 'routes' },
                'data.binding': { support: 'full' },
                'modularity': { support: 'partial', text: 'MVC' },
                'events': { support: 'full' },
                'stores': { support: 'partial' },
                'qa': { support: 'full' },
                'open.source': { support: 'full' }
            }
        },{
            name: 'Backbone',
            changeCells: {
                'routes': { support: 'partial', text: '' },
                'stores': { support: 'partial' },
                'xhr': { support: 'full' },
                'open.source': { support: 'full' }
            }
        },{
            name: 'jQuery + jQueryUI',
            changeCells: {
                'basic.widgets': { support: 'full' },
                'compound.widgets': { support: 'partial' },
                'containers': { support: 'full' },
                'themes': { support: 'full' },
                'styles': { support: 'partial' },
                'interactions': { support: 'partial', title: 'Drag & Drop', text: '' },
                'dom': { support: 'full' },
                'visual.effects': { support: 'partial' },
                'localization': { support: 'partial' },
                'accessibility': { support: 'partial' },
                'xhr': { support: 'partial' },
                'open.source': { support: 'full' }
            }
        },{
            name: 'Ember',
            changeCells: {
                'templating': { support: 'full' },
                'dom': { support: 'partial' },
                'routes': { support: 'partial' },
                'data.binding': { support: 'full' },
                'modularity': { support: 'partial', text: 'MVC' },
                'stores': { support: 'partial' },
                'open.source': { support: 'full' }
            }
        },{
            name: 'React',
            changeCells: {
                'templating': { support: 'full' },
                'dom': { support: 'partial' },
                'templating': { support: 'full' },
                'data.binding': { support: 'full' },
                'modularity': { support: 'partial' },
                // 'visual.effects': { support: 'full' }, // "experimental" 
                'events': { support: 'partial' },
                'qa': { support: 'full' },
                'open.source': { support: 'full' }
            }
        },{
            name: 'ExtJS',
            changeCells: {
                'basic.widgets': { support: 'full' },
                'compound.widgets': { support: 'full' },
                'visualizations': { support: 'full' },
                'containers': { support: 'full' },
                'themes': { support: 'full' },
                'styles': { support: 'full' },
                'layouts': { support: 'full', text: 'abstracted responsive' },
                'interactions': { support: 'full' },
                'drawing': { support: 'full' },
                'dom': { support: 'full' },
                'templating': { support: 'full' },
                'visual.effects': { support: 'full' },
                'localization': { support: 'full' },
                'accessibility': { support: 'full' },
                'routes': { support: 'full' },
                'data.binding': { support: 'full' },
                'modularity': { support: 'full' },
                'events': { support: 'full' },
                'infinite.scroll': { support: 'full' },
                'stores': { support: 'full' },
                'persistence': { support: 'full' },
                'xhr': { support: 'full' },
                'rpc': { support: 'full' },
                'bidata': { support: 'full' },
                'qa': { support: 'full' },
                'ci': { support: 'full' },
                'code.sharing': { support: 'full' },
                'dev': { support: 'full' },
                'support': { support: 'full' },
                'services': { support: 'full' },
                'corp': { support: 'full' },
                'open.source': { support: 'partial' }
            }
        },{
            name: 'Polymer',
            changeCells: {
                'basic.widgets': { support: 'full' },
                'containers': { support: 'partial', text: '' },
                'styles': { support: 'full' },
                'themes': { support: 'partial', text: '' },
                'layouts': { support: 'partial' },
                'visual.effects': { support: 'full', text: 'animations' },
                'dom': { support: 'full' },
                'templating': { support: 'full' },
                'accessibility': { support: 'full' },
                'routes': { support: 'full', text: 'routes' },
                'data.binding': { support: 'full' },
                'infinite.scroll': { support: 'full' },
                'persistence': { support: 'full', text: 'local storage' },
                'xhr': { support: 'partial', text: 'xhr' },
                'qa': { support: 'full' },
                'ci': { support: 'full' },
                'dev': { support: 'partial' },
                'open.source': { support: 'full' }
            }
        },{
            name: 'Knockout',
            changeCells: {
                'data.binding': { support: 'full' },
                'templating': { support: 'full' },
                'modularity': { support: 'partial', text: 'MVVM' },
                'open.source': { support: 'full' }
            }
        }];
        
        function deepCloneArray(arr) {
            return JSON.parse(JSON.stringify(arr));
        }
        
        // merge the matrix cells with frameworks for a final data structure to be rendered
        var matrix = [];
        for (var i = 0; i < frameworksArray.length; i++) {
            var framework = frameworksArray[i];
            matrix.push(framework);
            framework.categories = deepCloneArray(matrixCellsArray);
            for (var changedCell in framework.changeCells) {
                for (var j = 0; j < framework.categories.length; j++) {
                    var topCategory = framework.categories[j];
                    if (topCategory.categories[changedCell]) {
                        topCategory.categories[changedCell].support = framework.changeCells[changedCell].support;
                        if (framework.changeCells[changedCell].hasOwnProperty('title')) topCategory.categories[changedCell].title = framework.changeCells[changedCell].title;
                        if (framework.changeCells[changedCell].hasOwnProperty('text')) topCategory.categories[changedCell].text = framework.changeCells[changedCell].text;
                    }
                }
            }
        }
        console.log(matrix);
    
        var app = angular.module('WhichJSFramework', []);
        var ctl = app.controller('Main', function ($scope) {
            $scope.matrix = matrix;
        });
        
    </script>
    <style type="text/css">
        body { background: gray; color: white; font-family: arial; font-size: 12px; }
        .search { font-size: 15px; text-shadow: cornflowerblue 1px 1px; font-weight: bold; }
        .framework-name { padding: 10px; font-size: 20px; font-weight: bold; text-shadow: red 1px 1px; }
        .top-category { background: white; padding: 10px; }
        .top-category-text { display: inline-block; width: 150px; font-weight: bold; font-size: 150%; color: black; padding: 10px; }
        .sub-categories { display: inline-block; width: 800px; }
        .sub-category { display: inline-block; width: 170px; height: 40px; vertical-align: middle; background: gray; padding: 5px; margin: 2px; text-align: center; }
        .top-category.threeTilesPerLine .sub-category { width: 231px; }
        .sub-category.support-full { background: green; }
        .sub-category.support-partial { background: linear-gradient(135deg, #ffffff 0%,#007c08 100%); }
        .sub-category-wrap { display: flex; flex-direction: column; justify-content: center; height: 100% }
    </style>
</head>
<body ng-controller="Main">

<label class="search">Search by Name: <input ng-model="search"></label>

<div ng-repeat="framework in matrix | filter:{name: search} | orderBy: 'name'">
    <div class="framework-name">{{framework.name}}</div>
    <div ng-repeat="topCategory in framework.categories" class="top-category" ng-class="{threeTilesPerLine: topCategory.threeTilesPerLine}">
        <div class="top-category-text">{{topCategory.text}}</div>
        <div class="sub-categories">
            <div ng-repeat="subCategory in topCategory.categories" class="sub-category" ng-class="{'support-full': subCategory.support=='full', 'support-partial': subCategory.support=='partial'}">
                <div class="sub-category-wrap">
                    <div class="sub-category-title">{{subCategory.title}}</div>
                    <div class="sub-category-text">{{subCategory.text}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
